#connectBtn{
    position: fixed;
    right: 100px;
    bottom: 0px;
    width: 12vw;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(45deg, #f83600 ,#fe8c00);
    background-size: 200% 100%;
    transition-property: background-position-x, letter-spacing, bottom;
    transition-duration: 400ms;
    z-index: 9980;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#connectBtn:hover{
    letter-spacing: 2px;
    background-position-x: right
}
#connectBtn.hidden{
    bottom: -60px;
}
@media(max-width: 1000px){
    #connectBtn{
        display: none
    }   

}
