#connectBtn{
    position: fixed;
    right: 100px;
    bottom: 0px;
    width: 12vw;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(45deg, #f83600 ,#fe8c00);
    background-size: 200% 100%;
    transition-property: background-position-x, letter-spacing, bottom;
    transition-duration: 400ms;
    z-index: 9980;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#connectBtn:hover{
    letter-spacing: 2px;
    background-position-x: right
}
#connectBtn.hidden{
    bottom: -60px;
}
#greyScreen{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    z-index: 9990;
}
.greyClosed{
    display: none
}
#connectForm{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 800px;
    background-color: white;
    z-index: 9999;
    border-radius: 8px
}
.formClosed{
    display: none;
}
#closeBtn{
    position: absolute;
    top: 0;
    right: 0;
}
