#footer{
    position: relative;
    height: 400px;
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white
}
#flaticon{
    margin-top: 100px;
    font-size: 12px;
}