#landing{
    position: relative;
    min-height: 600px;
    height: 100vh;
    width: 100vw;
    overflow: hidden
}
#blueBlock{
    position: absolute;
    right: 0;
    top: -250px;
    height: 500px;
    width: 700px;
    background-image: linear-gradient(60deg, #3672D6, rgba(45,31,195,.15)90%);
    border-radius: 8px;
    transform: rotate(-45deg);
    transform-origin: center right;
    z-index: -1;
}
#face{
    position: absolute;
    right: 200px;
    top: 200px;
    height: 320px;
    width: 320px;
    background-image: url('./../assets/face.jpg');
    background-size: cover;
    border: white solid 5px;
}
#title{
    position: absolute;
    left: 8vw;
    top: 273px;

}
#line{
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: black
}
h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 8px;
}
h2{
    font-size: 15px;
    letter-spacing: 5px;
}
hr{
    margin: 20px 2px
}
#cta{
    height: 50px;
    background-color: #f12711;
    background-image: linear-gradient(45deg, #f12711,#f5af19);
    background-size: 500px 50px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 40px 0;
    letter-spacing: 2px;
    transition: 800ms;
    transition-property: transform letter-spacing background-position;
    transform-origin: center center;
    cursor: pointer
}
#cta:hover{
    letter-spacing: 8px;
    background-position-x: right;
    transform: scale(1.1)
}
#devices{
    height: 300px;
    width:300px;
    position: absolute;
    bottom: -20px;
    left: calc(50vw - 350px);
    background-image: url('./../assets/responsive.svg');
    background-size: contain;
    background-repeat: no-repeat
}
.grey{
    border-bottom:solid #666666 1px;
    width: 100vw;
    height: 400px;
    background-color: #DDDDDD
}
.white{
    width: 100vw;
    height: 600px;

}