#landing{
    position: relative;
    min-height: 750px;
    max-height: 1000px;
    height: 100vh;
    overflow: hidden;
}
.blueBlock{
    height: 500px;
    width: 960px;
    background-image: linear-gradient(60deg, #3672D6, rgba(45,31,195,.15)90%);
    border-radius: 8px;
    z-index: -1;
}
#block1{
    position: absolute;
    right: -200px;
    top: -450px;
    transform: rotate(-45deg);
    transform-origin: center right;
   
}
#block2{
    position: absolute;
    left: -200px;
    bottom: 100px;
    transform: rotate(135deg);
    transform-origin: center left;
}
#block3{
    position: absolute;
    right: -1400px;
    bottom: 30px;
    transform: rotate(45deg);
    transform-origin: center left;
}
#face{
    position: absolute;
    right: 200px;
    top: 200px;
    height: 320px;
    width: 320px;
    background-image: url('./../assets/face.jpg');
    background-size: cover;
    border: white solid 5px;
}
#title{
    position: absolute;
    margin: 15px 5vw;
    top: 240px;
}
h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 7px;
}
h2{
    letter-spacing: 4px;
}
#illustration{
    position: absolute;
    bottom: -20px;
    left: calc(33% - 125px);
    height: 35%;
    width: 35%;
    background-image: url('./../assets/responsive.svg');
    background-size: contain;
    background-repeat: no-repeat
}
@media(max-width: 1000px){
    #illustration{
        display: none
    }
    #title{
        position: absolute;
        bottom: calc(50% - 360px);
        left: calc(50vw - 127px);
        top: auto;
        margin: 0
    }
    #block1{
        position: absolute;
        top: -600px;
        right: calc(50vw - 560px);
    }
    #face{
        position: absolute;
        top: 50px;
        right: calc(50vw - 160px)
    }
    #landing{
        min-height: 750px;
    }
}
@media (min-width: 1600px){
    #title{
        margin: 15px;
        top: 240px;
    }
}