#reviewPage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
#linkedInIcon{
    background-image: url('../assets/linkedin.svg');
    background-color: white;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin: 10px;
}
#reviewBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    background-image: linear-gradient(45deg, #f83600 ,#fe8c00);
    background-size: 200% 100%;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition-duration: 400ms;

}
#reviewBtn:hover{
    letter-spacing: 1px;
    background-position-x: right
}
@media(max-width: 1000px){
    #reviewBtn{
        height: 150px;
        width: 150px;
        padding: 20px;
        text-align: center;
        flex-direction: column;
        justify-content: space-around
    }
}
