html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#root{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 
        [viewport-start] minmax(0, auto)
        [container-start] minmax(0, 1400px) [container-end]
        minmax(0, auto) [viewport-end];
}
.full { 
    grid-column: viewport;
    display: inherit;
    grid-template-columns: inherit;
}
.full * {
    grid-column: container;
}
.shadow-left{
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .3), -15px 15px 15px rgba(0, 0, 0, .1);
}
.shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3), 0px 15px 15px rgba(0, 0, 0, .1);
}
.shadow-right{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3), 15px 15px 15px rgba(0, 0, 0, .1);
}
.underLine{
    height: 1px;
    margin: 15px 0;
    background-image: linear-gradient(to right,#3672D6,#2D1FC3, transparent)
}
.hr{
    height: 1px;
    background-image: linear-gradient(to right,transparent,#2D1FC3,#3672D6,#2D1FC3, transparent)
}
a {
    color: inherit;
    text-decoration: none; 
}
button.launch {
    background-color: #F9A300;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}
button{
    border: solid 1px #ddd
}
button.launch:hover {
    cursor: pointer;
    background-color: #FABD44;
}

button.change {
    background-color: #F88F00;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

button.change:hover {
    cursor: pointer;
    background-color: #F89900;
}

button:active {
    outline: none;
    border: none;
}