body{
    font-family: 'Montserrat', sans-serif;
    background-color: #dddddd;
}
#root{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "nav main" "nav main" "footer footer";
}
::-webkit-scrollbar { width: 0 !important }

#main{
    width: 100%;
    min-height: 100vh;
    grid-area: main;
    display: flex;
    justify-content: center
}
a {
    color: inherit;
    text-decoration: inherit;
}
.card {
    background-color: #222222;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4), 15px 15px 40px rgba(0, 0, 0, 0.3);
}
.bg {
    animation:slide 70s ease-in-out infinite alternate;
    background-image: linear-gradient(-45deg, #404040 50%, #dddddd 50%);
    bottom:0;
    top:0;
    left:-50%;
    right:-50%;
    opacity:.5;
    position:fixed;
    z-index:-1;
    transform:translateX(25%);
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:64s;
    transform:translateX(-15%)
}
.bg3 {
    animation-duration:79s;
    animation-delay: -20s;
    transform:translateX(15%)

}
@keyframes slide {
    0% {
        transform:translateX(-15%);
    }
    100% {
        transform:translateX(25%);
    }
}
@media (max-width: 800px) {
    #root{
        grid-template-areas: ". ." "main main" "footer footer";
    }
}